.site-header .site-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}
.site-title {
  padding: 0;
}
.site-title a {
  font-size: 0.8em;
  font-weight: 700;
  color: black;
}
.site-media {
  height: 100vh;
  background-image: url("https://drive.google.com/thumbnail?id=1AN1Gy2KhbcYMD05YDBJreFb58t9LRIfF");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-media .site-wrapper {
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  position: relative;
  z-index: 10;
}
.site-media:before {
  display: block;
  content: "";
  background: rgba(12, 24, 12, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.site-media .social {
  padding-top: 2em;
}
